/**
 *	-------------------------------------------------------
 *	APF - Reset-Styles
 *	-------------------------------------------------------
 *
 */

	* {
		font-family: Sans-Serif, Arial, Helvetica;
	}

	p, ol, ul, html, body {
		margin: 0px;
		padding: 0px;
		font-size: 100.01%;
		font-weight: normal;
	}

	.nobr {
		white-space:nowrap;
	}

	img {
		position: relative;
	}

	table {
		border-spacing: 0px;
		border-collapse: collapse;
	}

	ol,ul {
		list-style: none;
	}

	h1,h2,h3,h4,h5,h6 {
		font-size: 100%;
		font-weight: normal;
		margin: 0px;
		padding: 0px;
	}

	a:link,
	a:visited {
		text-decoration: none;
		font-weight: inherit;
		font-size: inherit;
		color: #003388;
	}

	a:active,
	a:hover {
		text-decoration: none;
		font-weight: inherit;
		font-size: inherit;
		color: #338800;
	}

	blockquote, q {
		quotes: none;
	}
	
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
	}
